@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');



html{
	scroll-behavior: smooth;
	
	
}

body {
  color: #333;
  background-color: #fff;
  font-family: $mainFont;
  width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}



.stage{
	
	overflow: visible;
	min-height: 280vh;
	
	
}