@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');



html{
	position:absolute;
	scroll-behavior: smooth;
	 width: 100vw;
	 overflow-x: hidden;
	
}

body {
  position:absolute;
  color: #333;
  background-color: #fff;
  font-family: $mainFont;
  width: 100vw;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}


.display-none {
	
	display: none;
	
}

.error {
	
	border-color: red;
	
}
