$mainBlue: #46b7e1;
$mainOrange: #d59541;
$mainGold: #A79344;
$shadowBlack: #000600;
$titleFont: 'Pangolin', cursive;;
$mainFont: 'Pangolin', cursive;
$svgFont: 'Patrick Hand', cursive;

 .primary-custom{
	 
	 background-color: $mainBlue;
	 
 }