.project-profile {
	display: block;
	position: relative;
	top: 3rem;
	width: 90vw;
	margin: 0 auto 3rem auto;
	min-height: 80vh;
	
	@mixin atMedium{
	margin: 15vmin auto 3rem auto;
	width: 90vw;
		
		
	}
	
	

	
	
	
	&__content{
		background-color: #fff;
		text-align: center;
		color: $mainBlue;
		font-weight: 500;
		padding-top: 10px;
		
		
		
		@mixin atMedium{
			
			padding-top: 0;
		}
		
		
		}
	
	&__pic{
		display: block;
		z-index: 1;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2rem;
        overflow: hidden;
		
		
		
		@mixin atMedium{
		float: left;
		position: absolute;
		transform: translateY(-20%);
		padding-left: .6rem;
		box-shadow: 4px 4px 3px rgba(79,95,118, .4);
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
			
		}
		
	}
	
	
		
	
	
	&__header{
		margin-left:  0;
		display: inline-block;
		text-align: center;
		font-family: $titleFont;
		font-weight: 700;
		margin-top: -3rem;
		font-size: 2rem;
		line-height: 1;
		
		
		@mixin atMedium{
			margin-left:  290px;
			font-size: 3rem;
			overflow: wrap;
		}
		
		@mixin atLarge{
			font-size: 5rem;
		}
		
		&--sub{
			
			margin:  1rem auto 0 auto;
			
		}
		
	}
	
	&__p{
		text-align: left;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.25rem;
		
		@mixin atMedium{
		margin-left: 1rem;
		margin-right: 6rem;
		flex-wrap: nowrap;
		}
		
		span{
			order: 0;
			flex: 0 1 auto;
			align-self: auto;
			text-align: center;
			min-width: 80vw;
			
		@mixin atMedium{
			
		    min-width: 30%;
	    }
			
		}
		
		
	}
	
	
	
	
	&__p--img-margin {
		
		margin-left: 0;
	
		
		@mixin atMedium{
			margin-left: 290px;
		    
	    }
		
		span{
			@mixin atMedium{
			min-width: 30%;
			}
		}
	}
	
	&__p--txt-span {
		
		span{
		@mixin atMedium{
		min-width: 50%;
	    margin-left: -10%;
		}
		}
		
		&:last-child{
		@mixin atMedium{	
			min-width: 0%;
		}
		}
		
	}
	
		
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
