@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Oswald&display=swap');

html{
	scroll-behavior: smooth;
	
	
}

body {
  color: #333;
  background-color: rgba($mainGold, .4);
  font-family: $mainFont;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

