.bio {
	display: block;
	width: 100vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	
	@mixin atMedium{
	margin-top: -200px;
	width: 90vw;
		
		
	}
	
	

	
	
	
	&__content{
		background-color: #fff;
		text-align: center;
		color: $mainBlue;
		font-weight: 500;
		padding-top: 130px;
		
		
		@mixin atMedium{
			
			padding-top: 0;
		}
		
		
		}
	
	&__pic{
		display: block;
		z-index: 10;
		margin-left: auto;
		margin-right: auto;
		border-radius: 120px;
        overflow: hidden;
		transform: translateY(45%);
		
		
		@mixin atMedium{
		display: inline;
		transform: translateY(85%);
		padding-left: .6rem;
		box-shadow: 4px 4px 3px rgba(79,95,118, .4);
		margin-left: 0;
		margin-right: 0;
		border-radius: 0;
			
		}
		
	}
	
	&__header{
		margin-left:  0;
		display: inline-block;
		text-align: center;
		font-weight: 700;
		margin-top: -3rem;
		
		
		@mixin atMedium{
			margin-left:  290px;
			
		}
		
	}
	
	&__p{
		text-align: left;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 3 rem;
		margin-right: 6rem;
		padding-left: 1.25rem;
		
		span{
			order: 0;
			flex: 0 1 auto;
			align-self: auto;
			text-align: center;
			max-width: 36rem;
			
			
			
			
		}
		
		
	}
	
	
	&__p--img-margin {
		
		margin-left: 0;
	
		
		@mixin atMedium{
			margin-left: 300px;
			
	    }
		
		
		span{
		
			max-width: 12rem;
			
			
			
		}
		
		
	
	}
	
	
		
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
