.btn {
  background-color: $mainGold;
  color: $mainBlue;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

  &--blue {
    background-color: $mainBlue;
	max-width: 33.3%;
	min-height: 2rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5rem;

	
  }

  

}