.primary-nav{
	
	padding-top: 10px;
	overflow: hidden;
	@mixin atMedium{
		padding-top: 0;
		margin-right: .5rem;
		 
		 
		}
	
     &--pull-right{
		 
		@mixin atMedium{
			
		  float: right; 
		 
		}
	 }
	 
	 ul{
		 padding: 0;
	     margin: 0;
		 
		 @mixin clearfix;
	 
	 
	
		
	}
	 
	 
	 li{
		display: inline-block;
		text-align: center;
		list-style: none;
		 padding: 6px;
		background-color: transparent;  
		transition: all .2s ease-out;
		 
		 @mixin atMedium{
			 display: block;
			 float: left;
			  padding: 12px 0;
			  max-width: 20rem;
			  max-height: 7rem;
			  overflow: hidden;
			 
			 
		
		 }
		 
	
	
	 }
	 
	li a{
		display: block;
		 color: $mainBlue;
		 text-decoration: none;
		 text-align: center;
		 font-weight: 500;
		  font-size: .8rem;
		line-height: 0;
		 
		   

       @mixin atMedium{
		font-size: 3.2rem;
		background-color: transparent;
		margin: 1rem auto 0 auto;

	   }
	   
	 
	   
	}
	
	.caret{
		position: relative;
		top: .7rem;
		
	}
	
	
		
	
		
	&__dropdown{
		opacity: 1;
		display: block;
		position: relative;
		top: 0;
		z-index: -10;
		transition: all .5s ease-out;
		
		
		@mixin atMedium{
			display: block;
			visibility: hidden;
			opacity: 0;
			z-index: -10;
			top: 1.2rem;
		}
		
		
		li{
			text-align: center;
			transition: all .2s ease-out;
			
			@mixin atMedium{
				
				width: 100%;
				display: block;
				margin: 0rem auto 0 auto;
			}
			
		}
		
		
		
		li a{
			font-size: 2.5rem;
			display: block;
			margin: 0 auto 0 auto;
			line-height: 1;
			
		}
		
		& li:hover{ 
		
		@mixin atMedium{
			
	background-color: #fff !important;
	border-radius: 0 !important;

   
			
		}
    
	}
	
	& li:last-child:hover{ 
	@mixin atMedium{
			
	border-radius: 0 0 10px 10px !important;	
			
		}
	
	}
	
			& li a:hover{ 
		
		@mixin atMedium{
			
	color: $mainBlue !important;
	
		
			
		}
    
	}
		
		
		
		
	}
	
	& li:hover{ 
	@mixin atMedium{
			
	background-color: $mainBlue;
	border-radius: 10px;
	max-height: 50rem;
    overflow: visible;
			
		}
		
	}
		
		& li:hover a{ 
	@mixin atMedium{
			
	color: #fff;
	border-radius: 10px;
			
		}
		}
    
		 & li:hover ul { 
	 @mixin atMedium{
			
	 visibility: visible;
	opacity: 1;
	z-index: 2;
			
		}
		 }

	 
	
   
	

	
}