.primary-nav{
	
	
	overflow: visible;
	@mixin atMedium{
		padding-top: 0;
		margin-right: .5rem;
		 
		 
		}
	
     &--pull-right{
		 
		@mixin atMedium{
			
		  float: right; 
		 
		}
	 }
	 
	 ul{
		 padding: 0;
	     margin: 0 ;
			 
		 @mixin clearfix;
	 
		 
	
		
	}
	 
	 
	 li{
		display: block;
		width: 60vw;
		border: 2px solid $shadowBlack;
	    box-shadow: $shadowBlack 3px 1px;
		text-align: center;
		list-style: none;
		 padding: 4px;
		 margin: 0 auto 8px auto;
		background-color: $mainBlue;  
		transition: all .2s ease-out;
		 border: 2px solid $mainBlue;
	     box-shadow: $mainBlue 3px 1px;
		 
		 
		 @mixin atMedium{
			 
			 float: left;
			  padding: 12px 0;
			  max-width: 10rem;
			  max-height: 7rem;
			  overflow: hidden;
			  margin: 0 auto 0 auto;
			  border: none;
	          box-shadow: none;
			  background-color: transparent;
		
		 }
		 
	
	
	
	 }
	 
	li a{
		display: block;
		 color: #fff;
		 text-decoration: none;
		 text-align: center;
		 font-weight: 500;
		  font-size: 2rem;
		line-height: 0;
		 
		 @mixin atSmall{
		font-size: 1.5rem;
		

	   }
		   

       @mixin atMedium{
		font-size: 2.2rem;
		margin: 1rem auto 0 auto;
		
		

	   }
	   
	   @mixin atLarge{
		font-size: 2rem;
		margin: 0 auto 0 auto;
		

	   }
	   
	 
	   
	}
	
	
	
	.caret{
		position: relative;
		top: .7rem;
		
	}
	
	
		
	
		
	&__dropdown{
		opacity: 0;
		display: none;
		visibility: hidden;
		position: relative;
		top: 0;
		z-index: -10;
		transition: all .5s ease-out;
		
		
		@mixin atMedium{
			display: block;
			top: 1.2rem;
		}
		
		
		li{
			border: none;
	        box-shadow: none;
			background-color: transparent;
			text-align: center;
			transition: all .2s ease-out;
			display: block;
			width: 100%;
			margin: 0 auto 0 auto;
			
			@mixin atMedium{
				
			}
			
		}
		
		
		
		li a{
			font-size: 2.5rem;
			display: block;
			margin: 0 auto 0 auto;
			line-height: 1;
			
		}
		
		& li:hover{ 
		
		background-color: rgba(#fff,.2) !important;
	
		@mixin atMedium{
			
	background-color: #fff !important;
	border-radius: 0 !important;

   
		}
	
    
	}
	
	& li:last-child:hover{ 

		@mixin atMedium{
			
	border-radius: 0 0 15px 15px !important;	
		}
	
	}
	
			& li:hover a{ 
		
		
	@mixin atMedium{
	color: $mainBlue !important;
	}
	
		
			
	
    
	}
		
		
		
		
	}
	
	& li:hover{ 
	
			
	
    overflow: visible;
	
	
	@mixin atMedium{
	background-color: $mainBlue;
	border-radius: 10px;
	max-height: 50rem;
		
	}
			
	
		
	}
		
		& li:hover a{ 
	
			
	color: #fff;
	border-radius: 10px;
			

		}
    
		 & li:hover ul { 
	 
			
	 visibility: visible;
	 display: block;
	opacity: 1;
	z-index: 2;
			
		 }

	 
	
   
	

	
}