.primary-nav{
	padding-top: 10px;
	
	@mixin atMedium{
		padding-top: 0;
			
		 
		 
		}
	
     &--pull-right{
		 
		@mixin atMedium{
			
		  float: right; 
		 
		}
	 }
	 
	 ul{
		 padding: 0;
	     margin: 0;
		 
		 @mixin clearfix;
	 
	 
	
		
	}
	 }
	 
	 li{
		display: inline-block;
		list-style: none;
		 padding: 6px 0;
		  
		 
		 @mixin atMedium{
			 display: block;
			 float: left;
			  padding: 12px 0;
			 
			 
		
		 }
		 
	
	
	 }
	 
	 
	 
	li a{
		 color: #fff;
		 text-decoration: none;
		 font-weight: 300;
		  padding: 5px 8px;
		  font-size: .8rem;
		  background-color: rgba($mainBlue, .5);
		 
		   

       @mixin atMedium{
        padding-right: 20px;
		font-size: 1rem;
		background-color: transparent;
		
		&.is-current-link{
			
			color: #Fabb69;
			
		}
		
		

	   }		   
		 
	
	 
	
}