.product-tile{
	position: relative;
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	margin: 1rem;
	
	
	&__img{
	
	display: inline;
	width: 72vw;
    max-width: 320px;
	border: 2px solid rgba($mainBlue, .6);
	box-shadow: 2px 1px rgba($shadowBlack, .4);
	
	
	@mixin atSmall{
		
	width: 37vw;
	max-width: 2000px;
		
	}
	
	
	@mixin atMedium{
		
		width: 22vw;
		
		
	}
	
	@mixin atLarge{
		
		width: 25vw;
		
		
	}
		
	}
	
	
	&__price{
		
		position: absolute;
		bottom: 0;
		right: 0;
		margin-bottom: -.045rem;
		background-color: $mainBlue;
		border-radius: 15px 0 0 0;
		font-size: 2rem;
		color:#fff;
		padding: 1rem;
		
		
		
	}
	
	
}