.product-pane{
	position: relative;
	top: 0;
	display: block;
	width: 90vw;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-bottom: 5rem;
	margin-top: 5rem;
	background-color: rgba($mainBlue,.3);
	
	@mixin atMedium{
			
			top: 5rem;
		margin-bottom: 10rem;
	}
	
&__title{
	position: relative;
	left: 0;
	top: 0;
	margin-left: 2rem;
	padding-top: .5rem;
	color: #fff;
	font-size: 3rem;
	font-weight: 600;
	text-shadow: 1px 2px rgba($shadowBlack, .4);
		
		
	}
	
	&__products{
	position: relative;
	top: 0;
	left: 5vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
	align-self: center;
	}
}