.product-details{
	position: relative;
	top: 5vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1900px;
	background-color: $mainBlue;
	padding: 0 0 1rem 0;
	width: 90vw;
	margin: 3rem 5vw 5rem 5vw;
	
	@mixin atSmall{
		
		margin-left: 50%;
	    transform: translateX(-50%);
		
		
	}

	
	
	@mixin atMedium{
	margin-top: 10vh;	
	}
	

	
	
	
		
	
	&__main{
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		background-color: rgba(#ffffff, .4);
		padding: 1rem 1rem 1rem 1rem;
		flex: 12 1 auto;
	    align-self: auto;
		width: 90vw;
		
		
	
	}
	
	&__title{
		display: block;
		margin: .3rem auto 0 auto;
		font-size: 2rem;
		text-align: center;
		min-width: 100%;
		flex: 12 1 auto;
	    align-self: auto;
		
		@mixin atSmall{
			
			font-size: 3rem;
			
		}
		
		@mixin atMedium{
		min-width: 70%;
		margin-left: 275px;
	}
	
	@mixin atLarge{
			
		margin-left: 400px;
		font-size: 5rem;
	}
		
		
	}
	
	&__img{
	display: block;
	margin: 1rem 0 0 0;
	
	flex: 6 1 auto;
	align-self: auto;
	
	@mixin atMedium{
		position: absolute;
		width: 275px;
		top: 0;
		left: 0;
		margin: 1rem;
		max-width: 400px;
		
	}
	
	@mixin atLarge{
			
		width: 400px;
		
	}
	
	
    }
	
	
	
	
		
	
	
	&__purchase{
		
		position: relative;
		max-width: 80%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		justify-content: space-between;
		justify-self: center;
		margin: 1rem;
		flex: 12 1 auto;
	    align-self: auto;
		
		@mixin atMedium{
		
		max-width: 35vw;
		margin-left: 300px;
		transform: translateX(30%);
		order: 2;
		flex: 6 1 auto;
		flex-wrap: wrap;
	}
	
	@mixin atLarge{
			
		margin-left: 400px;
		transform: translateX(43%);
		
	}
		
		
	}
	
	

&__sizes{
  
	flex: 2 1 auto;
	align-self: auto;
	margin: 0 1rem 1rem 3rem;
	font-size: 1rem;
	transform: translateX(20%);
	
	@mixin atSmall{
		
		font-size: 1rem;
		
		
	}
	
	@mixin atMedium{
		right: 10%;
		width: 45%;
		align-self: flex-start;
		margin: 0 .5rem 2rem .5rem;
		transform: translateX(20%);
		
	}
	
	@mixin atLarge{
			
		font-size: 2rem;
		transform: translateX(0%);
	}
	
	
}

&__price{
	
	
	font-size: 2rem;
	transform: translateX(50%);
	flex: 2 1 auto;
	align-self: auto;
	margin: 0 0 1rem 0;
	
	@mixin atSmall{
	font-size: 2.5rem;
	}
	
	@mixin atMedium{
		
		width: 45%;
		align-self: flex-end;
		margin: 0 0 2rem 2rem;
		left: 0;
	    transform: translateX(20%);
	}
	
	@mixin atLarge{
			
		font-size: 2rem;
		transform: translateX(0%);
	}
	
	input{
		
		max-width: 30px;
		text-align: center;
		
	}
}





	
	&__buy{
		position: relative;
		left: 50%;
		transform: translateX(-47%);
		max-width: 300px;
		width: 40%;
		display: inline;
		flex: 4 1 auto;
	    align-self: center;
		background-color: #fff;
		border: 2px solid $mainBlue;
		border-radius: 25px;
		box-shadow: 2px 2px rgba($shadowBlack, .2), .5px 1px rgba($shadowBlack, .5);
		padding: .5rem;
		margin: -.5rem 1rem 0 0;
		transition: all 3s ease;
		
		@mixin atSmall{
			
			transform: translateX(-50%);
			width: 60%;
			
		}
		
		@mixin atMedium{
		margin-top: 1rem;
	
		
		
	}
	
	@mixin atLarge{
			
		font-size: 2rem;
		left: 40%;
		
	}
	
	&:hover {
		
		background-color: $mainBlue;
		transition: all .3s;
		
	}
		
		}
		
		
		
	&__desc{
		width: 100%;
		padding: 0 1rem 0 1rem;
		flex: 6 1 auto;
		text-align: center;
	
		
		@mixin atSmall{
			
			font-size: 1.2rem;
			line-height: 1.5;
			
		}
		
		@mixin atMedium{
	
			margin: .5rem 0 0 0;
			order: 1;
			width: 60%;
			min-height: 500px;
			
			
		}
		@mixin atLarge{
			
			font-size: 2rem;
			
		}
	}
	

	&__sizeguide{
		position: relative;
		width: 100%;
		flex: 4 1 auto;
		margin: 1rem auto 0 auto;
		background-color: #fff;
		max-width: 70vw;
		min-height: 12rem;
		
		@mixin atMedium{
		  
         width: 30%;
         margin: 7rem 0 0 1rem;		 
			
		}
		
		@mixin atLarge{
		  
      
         margin: 10rem 0 0 1rem;		 
			
		}
		
		p{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			margin: 0 auto 0 auto;
			
		}
	}
	
	&__checked{
		
		
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translateX(-50%);
		background-color: #fff;
		padding: 2rem;
		text-align: center;
		border: $mainBlue 2px solid;
		border-radius: 25px;
		z-index: 15;
		
		@mixin atSmall{
			
			padding: 3rem;
			
			
		}
		
		
		*{
			
			width: 100%;
			display: block;
			margin: 1rem auto 0 auto;
			
		}
		
		p{
		font-size: 1rem;
        color: $mainBlue;
        font-weight: 700;	

        @mixin atSmall{
        font-size: 2rem;
         

		}			
		}
		
		a{
			
		 background-color: $mainBlue;
		 padding: 1rem;
		 text-decoration: none;
		 border-radius: 25px;
		 box-shadow: 2px 3px rgba($shadowBlack, .4);
		 color: #fff;
		 
		 @mixin atSmall{
			 
			  padding: .5rem;
			 
		 }
			
			
		}
		
		
	}
	
	
		
	.sizeerror{
		
	
		font-size: 1rem;
		
		@mixin atSmall{
			
			font-size: 2rem;
			
		}
		
		@mixin atSmall{
			
			transform: translateX(-10%);
			
			
		}
		
		
	}
	
	
	
}