.projects{
	text-align: center;
	color: $mainBlue;
	
	&__header{
	font-family: $titleFont;
	font-weight: 700;
	font-size: 5rem;
	line-height: 0;
	}
	
	
	&__content{
		display: block;
		
		
		
		
		
		@mixin atMedium{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		
	div:nth-child(1){
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 80vw;
		
		
	}
	
	
		
		
		div{
			order: 0;
			flex: 0 1 auto;
			align-self: auto;
			text-align: center;
			margin-right: 2rem;
			max-width: 40vw;
		}
		
		
		
		}
		
		@mixin atLarge{
		
		
	div:nth-child(1){
	        order: 0;
			flex: 0 1 auto;
			align-self: auto;
			text-align: center;
			margin-right: 2rem;
			margin-left: 0;
			max-width: 29vw;
		
		
	}
	
	div{
	      
			max-width: 28vw;
		
		
	}
	
	
		
		
		
		
		
		
		}
		
	}
}