.product-slice{
	position: relative;
	top: 0;
	min-height: 500px;
	display: block;
	width: 90vw;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-bottom: 3rem;
	margin-top: 3rem;
	background-color: rgba($mainBlue,.3);
	
	@mixin atLarge {
		
		min-height: 700px;
		max-height: 700px;
		
	}
	
	
	&__title{
	position: relative;
	left: 0;
	top: 0;
	margin-left: 2rem;
	padding-top: .5rem;
	color: #fff;
	font-size: 3rem;
	font-weight: 600;
	text-shadow: 1px 2px rgba($shadowBlack, .4);
		
		
	}
	
	&__products{
	position: relative;
	top: 0;
	left: 5vw;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    align-items: center;
	align-self: center;
	
	
}
	
	&__slice{
		
		&:first-child{
			
			display: none;
			
			@mixin atMedium{
				
				display: inherit;
				
				
			}
		}
		
		&:nth-child(2){
			
			display: none;
			
			@mixin atSmall{
				
				display: inherit;
				
				
			}
		}
		
		&:nth-child(n+4){
		
		display: none;
	}
		
		
		
	}
	
	
	
	&__more{
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	color: #fff;
	font-size: 2rem;
}
	
	.side-caret{
		
		transform: rotate(270deg) translateX(-17%);
		
		
	}
	
	&__area{
		
		position: relative;
		top: 3rem;
		
		&--whole-page{
		
		 top: 3rem;
		 margin-bottom: 5rem;
		
		
		@mixin atMedium{
			
			top: 7rem;
		margin-bottom: 10rem;
			
		}
			
		}
	}
	
	
}