.terms {
	position: relative;
	display: block;
	max-width: 80%;
	margin: 0 auto 0 auto;
	
	@mixin atMedium{
		max-width: 60%;
		
	}
	
	&__title {
		
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: $mainBlue;
	font-size: 3rem;
	font-weight: 500;
	text-align: center;
	
	&--sub{
		
		font-size: 2rem;
	}
		
		
	}
	
	
	
	&__text{
		
	 font-size: 1.2rem;
		
		
		
	}
	
	
	
	
	
	
	
	
	
}