.product-tile{
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	
	&__img{
		
	max-width: 25vw;
	
		
		
	}
	
	
	&__price{
		
		display: absolute;
		bottom: 0;
		right: 0;
		background-color: $mainBlue;
		border-radius: 15px 0 0 0;
		
		
		
	}
	
	
}