.site-header{
	position: absolute;
	width: 100%;
	z-index: 1;
	padding: 10px 0;
	transition: background-color .3s ease-out;
	
	
	@mixin atMedium{
		position: fixed;
		background-color: $mainBlue;
		transform: scale(1);
		top:0;
		
		
		&--dark{
			background-color: rgba(23,51,72,.85);
			
		}
		
	}
	
	
	&__btn-container{
		
		@mixin atMedium{
			
		float: right;
		}
		
	}
	
	&__logo{
		font-family: $titleFont;
		position: absolute;
		top: 0;
		color: $mainGold;
		font-size: 1.3rem;
	    line-height: 0;
		
		@mixin atSmall{
		font-size: 1.7rem;	
			
			
		}
		
		@mixin atLarge {
		font-size: 2rem;	
			
			
		}
		
		
		
	}
	
	
	
	&__menu-icon{
		position: absolute;
		width: 20px;
		height: 19px;
		top: 10px;
		right: 10px;
		float: right;
		z-index: 10;
		
	@mixin atMedium{
          display: none;


    }		
	
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 3px;
		background-color: #fff;
		transform-origin: 0 0;
		transition: transform .3s ease-out;
	}
	
	&__middle{
		position: absolute;
		top: 8px;
		left: 0;
		width: 20px;
		height: 3px;
		background-color: #fff;
		transform-origin: 0 50;
		transition: all .3s ease-out;
	}
	
	
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 20px;
		height: 3px;
		background-color: #fff;
		transform-origin: 0 100;
		transition: transform .3s ease-out;
	}
		
		
		
	}
	
	&__menu-icon--close-x{
		
		&::before{
			transform: rotate(45deg) scaleX(1.25);
			
		}
		
		.site-header__menu-icon__middle{
			
			opacity: 0;
			transform: scaleX(0);
			
			
		}
		
		&::after{
			
			transform: rotate(-45deg) scaleX(1.25) translateY(-7px) translateX(3px);
			
		}
		
		
		
	}
	
	&__menu-content{
		position: relative;
		transform: scale(1.2);
		opacity: 0;
		z-index: -1;
		padding-top: 90px;
		text-align: center;
		transition: all .3s ease-out;
		
		@mixin atMedium{
			
			opacity: 1;
			z-index: 1;
			padding: 0;
			transform: scale(1);
			
			
			
		}
		
		&--is-visible{
			
			opacity: 1;
			z-index: 1;
			transform: scale(1);
		
			
		}
		
		
	}
	
	&--is-expanded {
		
			background-color: rgba($mainBlue, .3);
		
	}
	
	
}